
.icon {
  background-image: url('../images/sprite.png');
}

.icon-01 {
  background-position: -0px -0px;
  width: 600px;
  height: 793px;
}
.icon-02 {
  background-position: -0px -793px;
  width: 600px;
  height: 793px;
}
.icon-03 {
  background-position: -0px -1586px;
  width: 600px;
  height: 793px;
}
.icon-04 {
  background-position: -0px -2379px;
  width: 600px;
  height: 793px;
}
.icon-05 {
  background-position: -0px -3172px;
  width: 600px;
  height: 793px;
}
.icon-06 {
  background-position: -0px -3965px;
  width: 600px;
  height: 793px;
}
.icon-07 {
  background-position: -0px -4758px;
  width: 600px;
  height: 793px;
}
.icon-08 {
  background-position: -0px -5551px;
  width: 600px;
  height: 793px;
}
.icon-09 {
  background-position: -0px -6344px;
  width: 600px;
  height: 793px;
}
.icon-10 {
  background-position: -0px -7137px;
  width: 600px;
  height: 793px;
}
.icon-11 {
  background-position: -0px -7930px;
  width: 600px;
  height: 793px;
}
.icon-12 {
  background-position: -0px -8723px;
  width: 600px;
  height: 793px;
}
.icon-13 {
  background-position: -0px -9516px;
  width: 600px;
  height: 793px;
}
.icon-14 {
  background-position: -0px -10309px;
  width: 600px;
  height: 793px;
}
.icon-15 {
  background-position: -0px -11102px;
  width: 600px;
  height: 793px;
}
.icon-16 {
  background-position: -0px -11895px;
  width: 600px;
  height: 793px;
}
.icon-17 {
  background-position: -0px -12688px;
  width: 600px;
  height: 793px;
}
.icon-18 {
  background-position: -0px -13481px;
  width: 600px;
  height: 793px;
}
.icon-19 {
  background-position: -0px -14274px;
  width: 600px;
  height: 793px;
}
.icon-20 {
  background-position: -0px -15067px;
  width: 600px;
  height: 793px;
}
.icon-21 {
  background-position: -0px -15860px;
  width: 600px;
  height: 793px;
}
.icon-22 {
  background-position: -0px -16653px;
  width: 600px;
  height: 793px;
}
.icon-23 {
  background-position: -0px -17446px;
  width: 600px;
  height: 793px;
}
.icon-24 {
  background-position: -0px -18239px;
  width: 600px;
  height: 793px;
}
.icon-25 {
  background-position: -0px -19032px;
  width: 600px;
  height: 793px;
}
.icon-26 {
  background-position: -0px -19825px;
  width: 600px;
  height: 793px;
}
.icon-27 {
  background-position: -0px -20618px;
  width: 600px;
  height: 793px;
}
.icon-28 {
  background-position: -0px -21411px;
  width: 600px;
  height: 793px;
}
.icon-29 {
  background-position: -0px -22204px;
  width: 600px;
  height: 793px;
}
.icon-30 {
  background-position: -0px -22997px;
  width: 600px;
  height: 793px;
}
.icon-31 {
  background-position: -0px -23790px;
  width: 600px;
  height: 793px;
}
.icon-32 {
  background-position: -0px -24583px;
  width: 600px;
  height: 793px;
}
.icon-33 {
  background-position: -0px -25376px;
  width: 600px;
  height: 793px;
}
.icon-34 {
  background-position: -0px -26169px;
  width: 600px;
  height: 793px;
}
.icon-35 {
  background-position: -0px -26962px;
  width: 600px;
  height: 793px;
}
.icon-36 {
  background-position: -0px -27755px;
  width: 600px;
  height: 793px;
}
.icon-37 {
  background-position: -0px -28548px;
  width: 600px;
  height: 793px;
}
.icon-38 {
  background-position: -0px -29341px;
  width: 600px;
  height: 793px;
}
.icon-39 {
  background-position: -0px -30134px;
  width: 600px;
  height: 793px;
}
.icon-40 {
  background-position: -0px -30927px;
  width: 600px;
  height: 793px;
}
.icon-41 {
  background-position: -0px -31720px;
  width: 600px;
  height: 793px;
}
.icon-42 {
  background-position: -0px -32513px;
  width: 600px;
  height: 793px;
}
.icon-43 {
  background-position: -0px -33306px;
  width: 600px;
  height: 793px;
}
.icon-44 {
  background-position: -0px -34099px;
  width: 600px;
  height: 793px;
}
.icon-45 {
  background-position: -0px -34892px;
  width: 600px;
  height: 793px;
}
.icon-46 {
  background-position: -0px -35685px;
  width: 600px;
  height: 793px;
}
.icon-47 {
  background-position: -0px -36478px;
  width: 600px;
  height: 793px;
}
.icon-48 {
  background-position: -0px -37271px;
  width: 600px;
  height: 793px;
}
.icon-49 {
  background-position: -0px -38064px;
  width: 600px;
  height: 793px;
}
.icon-50 {
  background-position: -0px -38857px;
  width: 600px;
  height: 793px;
}
.icon-51 {
  background-position: -0px -39650px;
  width: 600px;
  height: 793px;
}
.icon-52 {
  background-position: -0px -40443px;
  width: 600px;
  height: 793px;
}
.icon-53 {
  background-position: -0px -41236px;
  width: 600px;
  height: 793px;
}
.icon-54 {
  background-position: -0px -42029px;
  width: 600px;
  height: 793px;
}
.icon-55 {
  background-position: -0px -42822px;
  width: 600px;
  height: 793px;
}
