.icon {
  width: 605px;
  height: 795px;
  background-image: url('./sprite.jpg');
}
.icon-01 {
  background-position: -0px -0px;
}
.icon-02 {
  background-position: -0px -801px;
}
.icon-03 {
  background-position: -0px -1602px;
}
.icon-04 {
  background-position: -0px -2403px;
}
.icon-05 {
  background-position: -0px -3204px;
}
.icon-06 {
  background-position: -0px -4005px;
}
.icon-07 {
  background-position: -0px -4806px;
}
.icon-08 {
  background-position: -0px -5607px;
}
.icon-09 {
  background-position: -0px -6408px;
}
.icon-10 {
  background-position: -0px -7209px;
}
.icon-11 {
  background-position: -0px -8010px;
}
.icon-12 {
  background-position: -0px -8811px;
}
.icon-13 {
  background-position: -0px -9612px;
}
.icon-14 {
  background-position: -0px -10413px;
}
.icon-15 {
  background-position: -0px -11214px;
}
.icon-16 {
  background-position: -0px -12015px;
}
.icon-17 {
  background-position: -0px -12816px;
}
.icon-18 {
  background-position: -0px -13617px;
}
.icon-19 {
  background-position: -0px -14418px;
}
.icon-20 {
  background-position: -0px -15219px;
}
.icon-21 {
  background-position: -0px -16020px;
}
.icon-22 {
  background-position: -0px -16821px;
}
.icon-23 {
  background-position: -0px -17622px;
}
.icon-24 {
  background-position: -0px -18423px;
}
.icon-25 {
  background-position: -0px -19224px;
}
.icon-26 {
  background-position: -0px -20025px;
}
.icon-27 {
  background-position: -0px -20826px;
}
.icon-28 {
  background-position: -0px -21627px;
}
.icon-29 {
  background-position: -0px -22428px;
}
.icon-30 {
  background-position: -0px -23229px;
}
.icon-31 {
  background-position: -0px -24030px;
}
.icon-32 {
  background-position: -0px -24831px;
}
.icon-33 {
  background-position: -0px -25632px;
}
.icon-34 {
  background-position: -0px -26433px;
}
.icon-35 {
  background-position: -0px -27234px;
}
.icon-36 {
  background-position: -0px -28035px;
}
.icon-37 {
  background-position: -0px -28836px;
}
.icon-38 {
  background-position: -0px -29637px;
}
.icon-39 {
  background-position: -0px -30438px;
}
.icon-40 {
  background-position: -0px -31239px;
}
.icon-41 {
  background-position: -0px -32040px;
}
.icon-42 {
  background-position: -0px -32841px;
}
.icon-43 {
  background-position: -0px -33642px;
}
.icon-44 {
  background-position: -0px -34443px;
}
.icon-45 {
  background-position: -0px -35244px;
}
.icon-46 {
  background-position: -0px -36045px;
}
.icon-47 {
  background-position: -0px -36846px;
}
.icon-48 {
  background-position: -0px -37647px;
}
.icon-49 {
  background-position: -0px -38448px;
}
.icon-50 {
  background-position: -0px -39249px;
}
.icon-51 {
  background-position: -0px -40050px;
}
.icon-52 {
  background-position: -0px -40851px;
}
.icon-53 {
  background-position: -0px -41652px;
}
.icon-54 {
  background-position: -0px -42453px;
}
.icon-55 {
  background-position: -0px -43254px;
}
